 # Week 1: Text Processing, Transformation, Vectorization, and Feature Extraction
 File: DSC550_Paulovici_Exercise_1_2.py (.ipynb)<br>
 Name: Kevin Paulovici<br>
 Date: 3/15/2020<br>
 Course: DSC 550 Data Mining (2205-1)<br>
 Assignment: 1.2 Exercise: Create a Search Engine

 ## Part 1
 Create an array of size [10,50] and use the random function to fill it with integers between 1 and 500 (inclusive). Load it to a DataFrame.

In [1]:
# load library
import numpy as np
import pandas as pd

# create array
a = np.random.randint(1,500,500)
a = a.reshape(10,50)

# load to Datafram
data = pd.DataFrame(a)
data

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,335,211,110,127,48,143,468,340,106,204,...,250,320,204,411,103,129,202,183,200,84
1,253,24,104,473,252,325,117,152,333,413,...,341,342,89,301,21,307,447,365,129,321
2,288,347,459,364,20,414,112,54,299,83,...,392,136,294,336,385,470,101,123,446,335
3,342,457,422,16,1,439,72,77,100,34,...,422,407,177,249,388,35,33,284,368,452
4,322,293,384,420,436,136,444,446,459,307,...,487,411,328,159,76,149,29,444,241,63
5,196,79,354,410,226,357,227,455,26,419,...,404,124,468,151,255,471,264,166,34,69
6,207,463,436,326,337,436,452,477,447,65,...,84,258,459,357,403,205,339,374,468,19
7,219,118,449,149,17,382,381,49,132,82,...,352,324,334,247,247,43,39,236,496,436
8,81,470,439,195,321,372,119,176,308,418,...,402,167,94,254,379,172,131,482,275,477
9,40,372,67,9,269,309,110,118,382,396,...,333,58,82,128,448,378,369,40,434,484

 ## Part 2
 Calculate the sum of each row; the sum of each column; and the sum of all entries.

In [2]:
# a = np.random.randint(1,500,15)
# a = a.reshape(3,5)
# data = pd.DataFrame(a)
# data

In [3]:
# sum of each row
data.sum(axis=1)

0    12550
1    12800
2    13897
3    12213
4    12069
5    12274
6    13945
7    12029
8    11916
9    12522
dtype: int64

In [4]:
# sum of each column
data.sum(axis=0)

0     2283
1     2834
2     3224
3     2489
4     1927
5     3313
6     2502
7     2344
8     2592
9     2421
10    2362
11    2910
12    1857
13    2300
14    2756
15    2370
16    2430
17    3366
18    2252
19    2746
20    2499
21    2435
22    2289
23    3164
24    2241
25    2715
26    3247
27    2153
28    1663
29    1998
30    2464
31    2236
32    2733
33    2491
34    1868
35    2633
36    1960
37    3034
38    2101
39    2331
40    3467
41    2547
42    2529
43    2593
44    2705
45    2359
46    1954
47    2697
48    3091
49    2740
dtype: int64

In [5]:
# sum of all entries
data.values.sum()

126215

 ## Part 3
 Determine the minimum; maximum; average; and standard deviation of all entries.

In [6]:
# minimum of all entries
data.values.min()

1

In [7]:
# maximum of all entries
data.values.max()

499

In [8]:
# average of all entries
data.values.mean()

252.43

In [9]:
# standard deviation of all entries
data.values.std()

146.4409952847904

 ## Part 4
 Sort the DataFrame: by rows, by columns, on row 2, on column 2. <br> <br>
 TODO: This question is confusing to me. I think I'm missing something simple and getting confused by index and col names having the same reference. Can you provide a solution to this?

In [10]:
# By rows
data.sort_values(list(data.columns),axis=0)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
9,40,372,67,9,269,309,110,118,382,396,...,333,58,82,128,448,378,369,40,434,484
8,81,470,439,195,321,372,119,176,308,418,...,402,167,94,254,379,172,131,482,275,477
5,196,79,354,410,226,357,227,455,26,419,...,404,124,468,151,255,471,264,166,34,69
6,207,463,436,326,337,436,452,477,447,65,...,84,258,459,357,403,205,339,374,468,19
7,219,118,449,149,17,382,381,49,132,82,...,352,324,334,247,247,43,39,236,496,436
1,253,24,104,473,252,325,117,152,333,413,...,341,342,89,301,21,307,447,365,129,321
2,288,347,459,364,20,414,112,54,299,83,...,392,136,294,336,385,470,101,123,446,335
4,322,293,384,420,436,136,444,446,459,307,...,487,411,328,159,76,149,29,444,241,63
0,335,211,110,127,48,143,468,340,106,204,...,250,320,204,411,103,129,202,183,200,84
3,342,457,422,16,1,439,72,77,100,34,...,422,407,177,249,388,35,33,284,368,452

In [11]:
# By Columns
data.sort_values([0, 1],axis=1)

,12,18,4,19,35,49,15,14,20,44,...,36,43,13,24,37,33,39,25,23,6
0,2,37,48,61,76,84,90,93,97,103,...,398,411,414,414,417,430,433,436,453,468
1,26,163,252,141,479,321,384,455,198,21,...,256,301,86,162,13,63,76,199,442,117
2,232,387,20,414,336,335,474,69,360,385,...,20,336,479,288,187,201,418,166,175,112
3,236,66,1,464,361,452,381,199,390,388,...,343,249,88,171,363,1,193,2,177,72
4,314,31,436,144,240,63,176,356,8,76,...,118,159,134,345,393,257,140,431,444,444
5,474,299,226,140,385,69,184,183,424,255,...,57,151,385,92,283,119,301,259,499,227
6,455,310,337,368,206,19,55,475,310,403,...,129,357,88,231,221,475,317,283,326,452
7,1,382,17,392,216,436,398,356,167,247,...,176,247,468,164,354,278,125,273,224,381
8,32,145,321,218,43,477,44,116,59,379,...,138,254,79,260,495,337,216,167,231,119
9,85,432,269,404,291,484,184,454,486,448,...,325,128,79,114,308,330,112,499,193,110

In [12]:
# By row 2
data.sort_values(by=2,axis=1)

,4,36,11,7,14,10,27,9,46,6,...,39,26,48,38,2,31,45,16,15,13
0,48,398,178,340,93,244,266,204,202,468,...,433,306,200,383,110,349,129,345,90,414
1,252,256,474,152,455,215,193,413,447,117,...,76,146,129,469,104,22,307,110,384,86
2,20,20,52,54,69,71,83,83,101,112,...,418,444,446,451,459,465,470,473,474,479
3,1,343,375,77,199,278,443,34,33,72,...,193,346,368,106,422,461,35,217,381,88
4,436,118,436,446,356,79,22,307,29,444,...,140,192,241,22,384,75,149,173,176,134
5,226,57,141,455,183,496,282,419,264,227,...,301,249,34,112,354,124,471,105,184,385
6,337,129,85,477,475,257,345,65,339,452,...,317,480,468,131,436,94,205,444,55,88
7,17,176,458,49,356,203,330,82,39,381,...,125,277,496,185,449,167,43,4,398,468
8,321,138,426,176,116,145,27,418,131,119,...,216,394,275,159,439,257,172,252,44,79
9,269,325,285,118,454,374,162,396,369,110,...,112,413,434,83,67,222,378,307,184,79

In [13]:
# By column 2
data.sort_values(by=2,axis=0)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
9,40,372,67,9,269,309,110,118,382,396,...,333,58,82,128,448,378,369,40,434,484
1,253,24,104,473,252,325,117,152,333,413,...,341,342,89,301,21,307,447,365,129,321
0,335,211,110,127,48,143,468,340,106,204,...,250,320,204,411,103,129,202,183,200,84
5,196,79,354,410,226,357,227,455,26,419,...,404,124,468,151,255,471,264,166,34,69
4,322,293,384,420,436,136,444,446,459,307,...,487,411,328,159,76,149,29,444,241,63
3,342,457,422,16,1,439,72,77,100,34,...,422,407,177,249,388,35,33,284,368,452
6,207,463,436,326,337,436,452,477,447,65,...,84,258,459,357,403,205,339,374,468,19
8,81,470,439,195,321,372,119,176,308,418,...,402,167,94,254,379,172,131,482,275,477
7,219,118,449,149,17,382,381,49,132,82,...,352,324,334,247,247,43,39,236,496,436
2,288,347,459,364,20,414,112,54,299,83,...,392,136,294,336,385,470,101,123,446,335